[alias]
	co = checkout
	br = branch
	st = status
	up = "!git remote update -p; git merge --ff-only @{u}"
	diffs = diff --staged
[user]
	name = Don Kim
	email = dgkimdev@gmail.com
	signingkey = F61091C2AB75F6942A6109B46A40D8F73614AE46
[pull]
	ff = only
[core]
	whitespace = cr-at-eol
